<div class="col-12 resultItem">
    <form id="placeDetail" action="result/{{this.place_id}}" method="POST">
        <div class="col-2">
            <h1>{{this.name}}</h1>
            <p>{{this.vicinity}}</p>
            <p>Open: {{this.opening_hours.open_now}}</p>
            <p>PlaceID: {{this.place_id}}</p>
            <button  class="btn btn-primary" type="result/placeID:" value="Submit">Select</button>
        </div>
    </form>
</div>