<div class="col-lg-6">
    <div class="row col-12 resultItem">
        <form id="placeDetail" class="res" action="/result/{{this.place_id}}" method="POST"></form>
            <div class="col-lg-10">
                <h3>{{this.name}}</h3>
                <p>{{this.vicinity}}<br>
                Open: {{this.opening_hours.open_now}}<br>
                PlaceID: {{this.place_id}}
                </p>
            </div>
                
        </form>
        <div class="col-lg-2">
            <form id="test"  action="/result/{{this.place_id}}" method="POST">
                <button  class="btn btn-primary btn-block resultSelect" type="result/:placeID" value="Submit">Select</button>
            </form>
        </div>
    </div>
</div>